* {
    box-sizing: border-box;   
}

#appBlock {
    height: 100vh;
    position: relative;
}

#appBlock #menuOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.menuBtn {
    margin-bottom: 10px;
}

.menuBtn #mainMenu-registerBtn {
    color: #337ab7;
}

.menuContainer {
    float: none;
    margin: 0 auto;
    max-width: 600px;
}

#mainLogo img {
    width: 75%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 768px) {
    #mainLogo img {
        width: 50%;
    }
}